{{ define "main" }}
<section class="relative w-full pt-20 max-md:pb-36 max-md:-mb-20 md:pb-2 md:perso-background">
  <img class="md:hidden w-full h-full hero-bg-img object-cover object-bottom"
       src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
  <div class="container py-6 text-white">
    {{ partial "breadcrumb" (dict "page" .) }}
    <div class="container flex flex-col items-center mt-10 gap-6">
      <h1 class="text-h1 ">{{ .Title}}</h1>
      <a href="/legal#credit" class="bg-primary text-white py-2 px-6 mb-16 rounded-md whitespace-nowrap">Derrière le projet</a>
    </div>
  </div>
</section>

<section>
  <div class="px-6 mt-12 text-dark_gray">
    <div class="h-full border-solid border-y-2 py-4 pr-12 border-primary">
      <div class="drop-down__item flex justify-between text-dark_gray"  data-id="1">
        <a class="text-dark_gray">À l'origine du projet
          <div class="h-1 w-3/6 bg-gradient-to-r from-blue-300 to-white mt-1"></div>
        </a>
        <img src="/svgs/add.svg" alt="add icon">
      </div>
      <div class="drop-down__hidden hidden mt-4" data-id="1">
        <p>À l’origine du projet, un constat simple : la nécessité d’ancrer de bonnes pratiques informatiques dans notre routine quotidienne pour éviter de nous exposer à des risques et menaces en ligne. 
          Avec l’avènement des nouvelles technologies, adopter une “hygiène informatique” devient un enjeu capital.
        </p> 
        <br/>
        <p>Si les entreprises ont initié des actions de sensibilisation et commencé à former 
          leurs propres acteurs aux défis de la cybersécurité, les particuliers demeurent souvent une cible privilégiée des exactions malveillantes, étant moins avisés, documentés ou encore accompagnés sur les préjudices qu’ils peuvent subir.
        </p> 
        <br/>
        <p>Cette plateforme à donc pour but d’informer sur les risques encourus et les conséquences concrètes auxquels ils s’exposent. En effet, bien souvent, les individus ne se sentent pas concernés par la thématique tant qu’ils n’ont pas été eux-mêmes victimes d’un piratage quel qu’il soit. C’est pourquoi l’accent est mis sur des mises en situations qui se veulent explicites et accessibles à tous.
           L’objectif ? Que tout le monde prenne conscience de la simplicité des actions à mettre en place pour se protéger.
        </p> 
      </div>
    </div>
    <div class="h-full border-solid border-b-2 py-4 pr-12 border-primary">
      <div class="drop-down__item flex justify-between text-dark_gray"  data-id="2">
        <a class="text-dark_gray" >Fonctionnement du site
          <div class="h-1 w-3/6 bg-gradient-to-r from-blue-300 to-white mt-1"></div>
        </a>
        <img src="/svgs/add.svg" alt="add icon">
      </div>
      <div class="drop-down__hidden hidden mt-4" data-id="2">
        <p>Cette plateforme met à votre disposition plusieurs onglets dans lesquels vous 
          pouvez retrouver certains des comportements maladroits voire préjudiciables que vous tenez en ligne et qui vous exposent à de grands risques. </p>
        <br/>
        <p>Ces points de vulnérabilité vous sont détaillés et leurs conséquences expliquées. Enfin, vous avez accès aux bonnes pratiques à mettre en place  pour remplacer vos mauvaises habitudes et agir en toute sécurité. Toutes ces informations sont classées 
          par thématiques afin de vous permettre de mieux comprendre l’étendue des domaines concernés par l’hygiène informatique.  </p>
      </div>
    </div>
    <div class="h-full border-solid border-b-2 py-4 pr-12 border-primary">
      <div class="drop-down__item flex justify-between text-dark_gray"  data-id="3">
        <a class="text-dark_gray">Les bonnes pratiques
          <div class="h-1 w-3/6 bg-gradient-to-r from-blue-300 to-white mt-1"></div>
        </a>
        <img src="/svgs/add.svg" alt="add icon">
      </div>
      <div class="drop-down__hidden hidden mt-4" data-id="3">
        <p>Les bonnes pratiques sont un ensemble de conseils que vous pouvez adopter pour sécuriser l’usage que vous faites de l’informatique et des outils numériques. Ces conseils se veulent avant tout constructifs et bienveillants. L’objectif est de sécuriser la navigation des utilisateurs sans que cela ne soit contraignant. 
          Les bonnes pratiques sont parfois accompagnées d’outils pour vous aider à les adopter le plus simplement possible. </p>
      </div>
    </div>
    <div class="h-full border-solid border-b-2 py-4 pr-12 border-primary">
      <div class="drop-down__item flex justify-between text-dark_gray"  data-id="4">
        <a class="text-dark_gray">Les thématiques
          <div class="h-1 w-3/6 bg-gradient-to-r from-blue-300 to-white mt-1"></div>
        </a>
        <img src="/svgs/add.svg" alt="add icon">
      </div>
      <div class="drop-down__hidden hidden mt-4" data-id="4">
        <p>Dans cet onglet, vous avez à disposition les failles de sécurité et les conséquences qui leurs sont associées classées par catégories. Vous avez bien sûr également à disposition les bonnes pratiques vous permettant de corriger ces vulnérabilités.</p>
        <br/>
        <p>Les thématiques traitées sont les suivantes : mot de passe, déplacement, paiement en ligne, données confidentielles, mise à jour, wifi et bluetooth, réseaux sociaux, boîte mail, téléchargement / ingénierie sociale et droit résiduel à la vie privée.</p>
        <br/>
        <p>Dans chaque catégorie, des ressources et outils vous sont également présentés pour vous aider à mettre nos conseils en pratique. </p>
      </div>
    </div>
    <div class="h-full border-solid border-b-2 py-4 pr-12 border-primary">
      <div class="drop-down__item flex justify-between"  data-id="5">
        <a class="text-dark_gray">Le quiz
          <div class="h-1 w-3/6 bg-gradient-to-r from-blue-300 to-white mt-1"></div>
        </a>
        <img src="/svgs/add.svg" alt="add icon">
      </div>
      <div class="drop-down__hidden hidden mt-4" data-id="5">
        <p>L’onglet “quiz”, vous permet de tester votre hygiène informatique. Répondez le plus honnêtement possible aux questions. L’objectif est simplement d’auto-évaluer vos pratiques et de voir comment vous pourriez les améliorer grâce à de bonnes pratiques.</p>
        <br/>
        <p>En répondant aux questions, un score vous sera attribué. Ce résultat indicatif vous permet de vous situer et d’évaluer votre vulnérabilité face aux risques informatiques. Toute réponse erronée est l’opportunité de mieux comprendre vos points d’amélioration et de les mettre en action.</p>
        <br/>
        <p>Vous pouvez également refaire ce quiz régulièrement pour tester de nouveau votre hygiène informatique après avoir adopté de nouvelles habitudes !</p>
        <br/>
        <p>N’hésitez pas à partager votre score avec vos amis, votre famille, sur les réseaux sociaux… Il est important qu’un large panel de personnes réalisent cette auto-évaluation pour sensibiliser toutes les générations à ces questions primordiales. </p>
      </div>
    </div>
  </div>
</section>


<script>
  const dropDownItems = document.querySelectorAll(".drop-down__item");
  dropDownItems.forEach(item => {
    item.addEventListener("click", function(){
      let id = item.dataset.id;
      document.querySelectorAll("[data-id='"+id+"']")[1].classList.toggle("hidden");
    })
  });
</script>
{{ end }}
