{{ define "main" }}
<div class="container">
    <h1 class="text-h1 text-primary">{{ .Title}}</h1>

    {{ $goodPractices := (where .Site.Pages "Section" "good-practices") }}
    {{ $goodPracticesLinked := where $goodPractices ".Params.categories" "intersect" (slice .Title ) }}
    {{ if (gt (len $goodPracticesLinked) 0) }}
    <h3 class="mt-4 text-h4">Les bonnes pratiques associées</h3>
    <nav class="list-disc grid-good-practice">
        {{ range $goodPracticesLinked}}
        <a href="{{ .Permalink }}">

          <div class="bg-black text-center p-5 h-full"><p>{{ .Title }}</p></div>
        </a>
        {{ end }}
    </nav>
    {{ end }}

    {{ $risks := (where .Site.Pages "Section" "risks") }}
    {{ $risksLinked := where $risks ".Params.categories" "intersect" (slice .Title ) }}
    {{ if (gt (len $risksLinked) 0) }}
    <h3 class="mt-4 text-h3">Risques</h3>
    <ul class="list-disc">
        {{ range $risksLinked}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end}}
