{{ define "main" }}
<section
  class="relative bg-[url('/images/bg-hero.png')] bg-cover bg-center bg-no-repeat flex flex-col align-center px-4 bg-secondary text-white">
  <div class="max-w-md md:ml-12 my-20">
    {{ partial "breadcrumb" (dict "page" . ) }}
  </div>
  <h1 class="h1 mb-20 text-5xl font-semibold w-fit md:mx-auto max-w-screen-lg">Thématiques</h1>
  </div>
</section>

<div class="container text-dark_gray my-20">

  <nav class=" grid-good-practice mt-10">
    {{ range $index, $thematique := (where .Site.Pages "Section" "thematiques") }}
    {{ if and (isset $thematique.Params "icon") (isset $thematique.Params "uuid") }}
    <a href="{{ .Permalink }}" class="no-underline">
      <div
        class="border-perso gap-4 rounded-md text-center sm:px-6 px-3 sm:py-5 py-2 h-full grid place-items-center bg-white">
        <img class="w-2/3" src="/icons/thematiques/illustrations/{{.Params.icon}}" alt="">
        <p class="md:text-secondary word-break text-label">{{ .Title }}</p>
        <div class="flex flex-row justify-center items-center mt-2 gap-2">
          {{ $goodPractices := (where .Site.Pages "Section" "good-practices") }}
          {{ $goodPracticesLinked := where $goodPractices ".Params.thematique" $thematique.Params.uuid }}
          <span id="checkbox-counter-{{ $thematique.Params.uuid }}" class="text-dark_gray text-label"
            data-total-items="{{ len $goodPracticesLinked }}">
            0/{{ len $goodPracticesLinked }}
          </span>
        </div>

        <div class="flex flex-row-reverse gap-2 w-full items-center">
          <p id="progress-percentage-{{ $thematique.Params.uuid }}"
            class="text-center min-w-10 text-secondary font-bold"></p>
          <div class=" gap-2 w-full items-center">
            <p id="progress-percentage-{{ $thematique.Params.uuid }}" class="text-center min-w-10 text-dark_gray"></p>
            <div class="progress-container">
              <div class="w-full progress-bar" id="progress-bar-{{ $thematique.Params.uuid }}"></div>
            </div>
          </div>
        </div>
      </div>
    </a>
    {{ end }}
    {{ end }}
  </nav>
</div>

<style>
  .progress-container {
    width: 100%;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 2px;
    width: 100%;
  }

  .progress-bar {
    height: 100%;
    background-color: #153E60;
    width: 0;
    transition: width 0.3s ease;
    border-radius: 10px;
  }
</style>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const thematiques = document.querySelectorAll('.progress-container');

    thematiques.forEach((container) => {
      const thematiqueId = container.querySelector('.progress-bar').id.split('progress-bar-')[1];
      const progressBar = document.getElementById(`progress-bar-${thematiqueId}`);
      const progressPercentage = document.getElementById(`progress-percentage-${thematiqueId}`);
      const checkboxCounter = document.getElementById(`checkbox-counter-${thematiqueId}`);

      // Récupérer le nombre total d'éléments depuis l'attribut data-total-items
      const totalItems = parseInt(checkboxCounter.getAttribute('data-total-items'), 10) || 0;

      // Récupérer l'état depuis le localStorage ou initialiser un état par défaut
      let state = JSON.parse(localStorage.getItem(`checklistState-${thematiqueId}`));
      if (!state) {
        state = Array(totalItems).fill(false);
        localStorage.setItem(`checklistState-${thematiqueId}`, JSON.stringify(state));
      }

      const total = state.length;
      const checked = state.filter((isChecked) => isChecked).length;

      const percentage = total > 0 ? Math.round((checked / total) * 100) : 0;
      progressBar.style.width = `${percentage}%`;
      progressPercentage.textContent = `${percentage}%`;

      // Mettre à jour uniquement la partie "cochée" avant le "/"
      const totalText = checkboxCounter.textContent.split('/')[1]; // Récupérer la partie après le "/"
      checkboxCounter.textContent = `${checked}/${totalText}`;
    });
  });
</script>
{{ end }}