{{ define "main" }}
<section class="relative w-full pt-20 max-md:pb-36 max-md:-mb-20 md:pb-2 md:perso-background">
  <img class="md:hidden w-full h-full hero-bg-img object-cover object-bottom"
    src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
  <div class="container py-6 text-white text-center">
    {{ partial "breadcrumb" (dict "page" . "links" (slice "/thematiques")) }}
    <h1 class="text-h1 mt-10">{{ .Title}}</h1>
    <p class="text-h2 mt-4">{{ .Params.Subtitle }}</p>
  </div>
</section>

<section class="container flex flex-col my-20 w-full mb-5 lg:flex-row gap-36 ">
  <div>
    {{ if (.Params.VideoUrl) }}
    <iframe class="mt-10 aspect-video" width="100%" src="{{ .Params.VideoUrl }}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{ else }}
    <div class="p-10 border-secondary border-2 rounded-2xl bg-white">
      <p class="w-full italic text-center">Une vidéo présentant des témoignages arrive prochainement.</p>
    </div>
    {{ end }}
  </div>
  <p class="lg:w-2/3 text-black ">{{ .Description }}</p>

</section>

<section class="container text-dark_gray mt-20">

  <section class="mt-10 mb-20">
    {{ $vulnerabilities := (where .Site.Pages "Section" "vulnerabilities") }}
    {{ $vulnerabilitiesLinked := where $vulnerabilities ".Params.thematique" "eq" .Params.uuid }}

    {{ if (gt (len $vulnerabilitiesLinked) 0) }}
    <h3 class="text-h1 text-black">Les vulnérabilités</h3>

    <nav class="grid-good-practice mt-5 grid-cols-1">
      {{ range $vulnerabilitiesLinked }}
        <div class="border-perso rounded-md bg-white p-5 ">
          <a href="{{ .Permalink }}" class="no-underline text-orange text-h1">
            {{ .Title }}
          </a>
          {{ if .Params.risks }}
            <h3 class="text-h2 mt-4 mt-10">Les risques</h3>
            <div class="h-1 w-3/6 mt-2 bg-gradient-to-r from-blue-300 to-transparent mb-6"></div>
            <ul class="list-disc pl-6 md:w-2/3">
                {{ range .Params.risks }}
                <li class="my-2">{{ . }}</li>
                {{ end }}
            </ul>
          {{ end }}
          {{ $goodPractices := (where .Site.Pages "Section" "good-practices") }}
          {{ $goodPracticesLinked := where $goodPractices ".Params.uuid" "in" .Params.goodPractices }}
          {{ if (gt (len $goodPracticesLinked) 0) }}
            <div class="mt-10">
                <h2 class="text-h2 mt-4">Les bonnes pratiques</h2>
                <div class="h-1 w-3/6 mt-2 bg-gradient-to-r from-blue-300 to-transparent mb-6"></div>

                <nav class="grid-good-practice grid-cols-1 md:grid-cols-2">
                    {{ range $goodPracticesLinked}}
                    <a href="{{ .Permalink }}" class="no-underline">

                        <div class="border-perso rounded-md text-center px-3 py-5 h-full grid place-items-center bg-white">
                            <p class="text-secondary">"{{ .Title }}"</p>

                        </div>
                    </a>
                    {{ end }}
                </nav>
            </div>
          {{ end }}
        </div>
      {{ end }}
      </nav>
    {{ end }}
  </section>

</section>

<script>
  const switchBtns = document.querySelector('.switch');

  const sectionLeft = document.querySelector('#sec-left');
  const sectionRight = document.querySelector('#sec-right');

  switchBtns.addEventListener('click', () => {
    sectionLeft.classList.toggle('active')
    sectionRight.classList.toggle('active')

    switchBtns.firstElementChild.classList.toggle('active')
    switchBtns.lastElementChild.classList.toggle('active')
  })
</script>
{{ end}}