<section id="quizz-ingame" class="h-screen pb-20 flex flex-col gap-y-8">
  <section class="relative pt-8 pb-36 -mb-20">
    <img class="w-full h-full hero-bg-img object-cover object-bottom" src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt=" ">
    <div class="container text-white flex flex-col gap-5 items-center justify-center">
      <h2 class="text-h1">Évaluez-vous</h2>
      <div id="quizz-progression-bar-outer" class="overflow-hidden rounded-full bg-white w-full h-2">
        <div id="quizz-progression-bar-inner" class="bg-primary rounded-full h-full left-0"></div>
      </div>
      <p id="quizz-question-text"></p>
    </div>
  </section>

  <section id="quizz-choices" class="my-auto container grid grid-cols-4 gap-x-8 gap-y-3"></section>

  <section class="mt-auto container grid grid-cols-4 gap-8">
    <button disabled class="col-start-2 col-end-4 bg-secondary text-white disabled:bg-gray rounded-2xl pt-2 pb-3 px-4" id="quizz-go-next-question-btn">Suivant</button>
  </section>

  <template id="template-choices-item">
    <button aria-selected="false" class="col-span-full text-left border-secondary border-2 rounded-2xl py-2 px-4 aria-selected:bg-secondary aria-selected:text-white">
      <span class="choice-text"></span>
    </button>
  </template>
</section>

<script>
  let questionIndex = 0;
  let questions = [];
  const choicesContainer = document.getElementById("quizz-choices");
  const choiceTemplate = document.getElementById("template-choices-item");

  startQuizz();

  async function startQuizz() {
    const response = await fetch('/questions/index.json');
    questions =  (await response.json()).data;

    document.getElementById("quizz-go-next-question-btn").addEventListener("click", nextQuestion);
    loadQuestion(questions[questionIndex]);
  }

  function showResult(){
    document.querySelector("#quizz-ingame").classList.add("hidden");
    document.querySelector("#result").classList.remove("hidden");
  }

  function nextQuestion() {
    if (questions.userAnswer === null) {
      return;
    }

    questionIndex++;

    if (questionIndex === questions.length){
      showResult();
      return;
    }

    loadQuestion(questions[questionIndex]);
  }

  function handleAnswerSelected(questionSelected){
    resetQuestionAnswers();
    questionSelected.setAttribute('aria-selected', true);

    questions[questionIndex].userAnswer = questionSelected.dataset.text;

    document.getElementById("quizz-go-next-question-btn").removeAttribute('disabled');
  }

  function createElChoice(choice) {
    const newChoice = choiceTemplate.content.firstElementChild.cloneNode(true);

    newChoice.dataset.text = choice.text;
    newChoice.dataset.score = choice.score;
    newChoice.querySelector(".choice-text").innerText = choice.text;
    newChoice.addEventListener("click", ()=>{
      handleAnswerSelected(newChoice);
    });

    choicesContainer.appendChild(newChoice);
  }

  function clearQuestionAnswers() {
    while (choicesContainer.firstChild) {
      choicesContainer.removeChild(choicesContainer.firstChild);
    }
  }
  function resetQuestionAnswers() {
    Array.from(choicesContainer.children).forEach(child=>{
      child.setAttribute('aria-selected', false);
    })
  }

  function loadQuestion(question) {
    document.getElementById("quizz-progression-bar-inner").style.width = `${(questionIndex+1) * 100 / (questions.length+1)}%`;
    document.getElementById("quizz-question-text").innerText = question.text;

    clearQuestionAnswers();
    question.choices.forEach(choice => {
      createElChoice(choice);
    });
  }
</script>
