<section id="quizz-ingame" class="min-h-screen pb-24 flex flex-col gap-y-8">
  <section class="pointer-events-none relative w-full pt-5 -mt-5 max-sm:pb-36 max-sm:-mb-20 sm:pb-2 sm:perso-background">
    <img class="w-full h-full hero-bg-img object-cover " src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
    <div class="container text-center text-white py-6 flex flex-col gap-5 md:gap-10">
      {{ partial "breadcrumb" (dict "page" . ) }}
      <h1 id="quizz-progression-text" class="pt-5 text-h1 md:text-5xl">Question ?/?</h1>
      <div id="quizz-progression-bar-outer" class="overflow-hidden rounded-full bg-white w-full md:w-1/2 mx-auto h-2">
        <div id="quizz-progression-bar-inner" class="bg-primary rounded-full h-full left-0"></div>
      </div>
      <p id="quizz-question-text" class="md:text-2xl"></p>
    </div>
  </section>

  <section id="quizz-choices" class="my-auto container grid grid-cols-4 gap-x-8 gap-y-3"></section>

  <section class="mt-auto container grid grid-cols-4 gap-8">
    <button disabled class="col-start-2 col-end-4 bg-secondary text-white disabled:bg-gray rounded-2xl pt-2 pb-3 px-4" id="quizz-go-next-question-btn">Suivant</button>
  </section>
</section>
