{{ define "main" }}

<div class="container">
    <p>Vulnérabilité</p>
    <h1 class="text-h1">{{ .Title }}</h1>

    {{ if .Params.risks }}
    <h2 class="text-h2 mt-8">Risques liés</h2>
    <ul>
        {{ range .Params.risks }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}

    {{ $categoriesLinked := where .Site.Pages.ByTitle ".Title" "in" .Params.categories }}
    {{ if (gt (len $categoriesLinked) 0) }}
    <h3 class="mt-4 text-h3">Catégories</h3>
    <ul class="list-disc">
        {{ range $categoriesLinked}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}

    {{ $goodPracticesLinked := where .Site.Pages.ByTitle ".Title" "in" .Params.goodPractices }}
    {{ if (gt (len $goodPracticesLinked) 0) }}
    <h3 class="mt-4 text-h3">Bonnes pratiques liées</h3>
    <ul class="list-disc">
        {{ range $goodPracticesLinked}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

{{ end }}