{{ define "main" }}
<section class="relative w-full pt-5 -mt-5">
  <img class="w-full h-full hero-bg-img object-cover " src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
  <div class="container">
      <div class="text-center w-4/5 mx-auto text-white pb-20 pt-10">
          <h1 class="text-h1 text-white pb-16 pt-14 text-center">{{ .Title}}</h1>
      </div>
  </div>
</section>


<div class="container text-black">
    <h3 class="mt-4 text-h3 ">Risques</h3>
    <div class="h-1 w-3/6 mt-2 bg-gradient-to-r from-blue-300 to-white mb-6"></div>

    {{ if .Params.risks }}
    <ul class="list-disc w-11/12 mx-auto">
        {{ range .Params.risks }}
        <li class="my-2">{{ . }}</li>
        {{ end }}
    </ul>
    {{ end }}

    <h3 class="text-h2 mt-4 mb-8">Les bonnes pratiques</h3>

    {{ $goodPracticesLinked := where .Site.Pages.ByTitle ".Title" "in" .Params.goodPractices }}
    {{ if (gt (len $goodPracticesLinked) 0) }}

    <nav class="grid-good-practice grid-cols-1 md:grid-cols-2">
        {{ range $goodPracticesLinked}}
        <a href="{{ .Permalink }}" class="no-underline">

          <div class="border-perso rounded-md text-center px-3 py-5 h-full grid place-items-center bg-white">
            <p class="text-secondary">"{{ .Title }}"</p>

          </div>
        </a>
        {{ end }}
    </nav>
    {{ end }}
</div>

{{ end }}
