@import 'fonts.css';
/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  text-underline-offset: 4px;
}

@layer components {

  .grid-body {
    @apply grid grid-cols-6 md:grid-cols-12 md:gap-x-12 xl:gap-x-20;
  }

  .grid-good-practice {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-5
  }

  .word-break {
    word-break: break-word;
  }

  .text-h1 {
    @apply text-5xl font-bold;
  }

  .text-h2 {
    @apply text-3xl font-medium;
  }

  .text-h3 {
    @apply text-2xl font-medium;
  }

  .text-h4 {
    @apply text-xl font-medium;
  }

  .text-body {
    @apply font-normal;
  }

  .text-label {
    @apply text-base;
  }

  .btn-primary {
    @apply text-white bg-white text-base md:text-xl rounded-xl font-semibold px-5 py-4 border-2;
  }

  .btn-primary:hover {
    @apply bg-white text-primary border-white;
  }

  .btn-secondary {
    @apply text-white border-2 text-base md:text-xl rounded-xl font-semibold px-5 py-4;
  }

  .btn-secondary.blue {
    @apply text-white bg-secondary border-0;
  }

  .btn-secondary:hover {
    @apply text-secondary bg-white;
  }

  .btn-secondary.blue:hover {
    @apply bg-white text-secondary;
  }

  .btn-tertiary {
    @apply border-2 border-secondary text-secondary rounded-xl text-base md:text-xl font-semibold px-5 py-4;
  }

  .btn-tertiary:hover {
    @apply text-white bg-secondary;
  }

  .border-perso-light-gray {
    @apply border-solid border-gray border
  }

  .border-perso {
    @apply border-solid border-[#E3E6ED] border
  }

  .hero-bg-img {
    @apply absolute inset-0 -z-10;
  }

  .bottom-nav-section {
    @apply w-full h-20 fixed bottom-0 left-0 right-0 bg-gradient-to-t via-white from-white;
  }

  .button-fill {
    @apply bg-secondary
  }

  .our-button {
    @apply rounded-md p-3 text-white text-center w-fit
  }

  .select-item {
    @apply hidden
  }

  .active {
    @apply block
  }

  .switch {
    @apply bg-white border-secondary border-solid border-2 rounded-lg grid grid-cols-2 ring-inset mx-auto;
  }

  .switch-btn.active {
    @apply border-secondary border-solid border-2 bg-secondary text-white;
  }

  .switch-btn {
    @apply w-full px-4 py-2 rounded-md text-center;
  }

  .breadcrumb {
    @apply w-full flex flex-row flex-wrap text-label gap-2 whitespace-nowrap text-ellipsis overflow-hidden;
  }

  .breadcrumb-item {
    @apply whitespace-nowrap overflow-hidden min-w-0 flex-1 text-left text-ellipsis;
  }
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #1C4A2B;
}

.basic-pastille {
  background-color: #1C4A2B;
}

.avancee-pastille {
  background-color: #CF4339;
}

.background-dropdown {
  background-color: #F6F5F5;
}

.progress-container {
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 2px;
}

.progress-bar {
  height: 100%;
  background-color: #153E60;
  width: 0;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.circular-progress {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background: conic-gradient(#153E60 0% 0%, #e0e0e0 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circular-progress::before {
  content: '';
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background-color: #F6F5F5;
  position: absolute;
  z-index: 1;
}

.progress-value {
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  color: #153E60;
  z-index: 2;
}

@media (max-width: 768px) {
  .barre-mobile {
    width: 100%;
  }
}