{{ define "main" }}
<section class="relative w-full pt-5">
	<img class="w-full h-full hero-bg-img object-cover " src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
	<div class="container text-center">

		<h1 class="text-h1 text-white pb-16 pt-14 ">{{ .Title}}</h1>

	</div>
</section>



<div class="container text-dark_gray mt-10">
	<h1 class="text-h1">Glossaire</h1>
	{{ range .Pages }}
	<div class="bg-white my-10 rounded-2xl drop-shadow-sm">
		<button class="w-full  px-6 py-5 h-full flex flex-row justify-between drop-down__item">
			<p class="text-h2 text-black text-left w-2/3">{{ .Title }}</p>
			<div class="self-center">
				<img src="/svgs/arrowBlue.png" class="w-5 rotate-90" />
			</div>
		</button>
		<div class="bg-white hidden p-10 rounded-2xl">
			<p class="text-label">{{ .Params.contenu }}</p>
		</div>
	</div>
	{{ end }}
</div>

<script>
	const dropDownItems = document.querySelectorAll(".drop-down__item");

	dropDownItems.forEach((item) => {
		item.addEventListener("click", () => {
			item.nextElementSibling.classList.toggle("hidden");
			item.querySelector("img").classList.toggle("rotate-0");
		});
	});
</script>
{{ end }}
