<footer class="flex w-full h-24 text-dark_grey">
    <a href="/" class="place-content-center">CyberCure</a>
    <ul>
        <li><a href="/" class="">Bonnes pratiques</a></li>
        <li><a href="/" class="">Quizz</a></li>
        <li><a href="/" class="">Thématiques</a></li>
        <li><a href="/" class="">À propos</a></li>
    </ul>
    <hr>
    <ul class="text-gray">
        <li><a href="/" class="">Centre de confidentialité</a></li>
        <li><a href="/" class="">Mentions légales</a></li>
        <li><a href="/" class="">Politique RGPD</a></li>
    </ul>

</footer>