<footer class="bg-white">
    <section class="container flex flex-col gap-8 h-auto text-dark_grey py-10 md:py-16 mt-6">
        <section class="flex flex-col md:flex-row md:justify-between gap-10">
            <a href="/" class="text-primary self-center"><img src="/svgs/logo.svg" alt="Safe N Tech"></a>
            <ul class="text-dark_gray flex flex-col md:flex-row md:justify-center gap-5">
                {{ range .Site.Menus.header }}
                <li><a href="{{ .URL }}" class="text-label">{{ .Name }}</a></li>
                {{ end }}
                <li><a href="/a-propos" class="text-label">À propos</a></li>
            </ul>
        </section>


        <div class="w-full h-0.5 bg-secondary self-center"></div>

        <ul class="text-gray md:flex md:justify-end">
            <li><a href="/legal" class="text-label">Mentions légales</a></li>
        </ul>
    </section>
</footer>