<footer class="flex flex-col h-auto text-dark_grey px-8 py-4 bg-white">
    <a href="/" class="text-primary self-center mb-7"><img src="/svgs/logo.svg" alt="Logo Safe N Tech"></a>
    <ul class="text-dark_gray md:flex md:justify-center">
        <li class="mb-4 mx-12"><a href="/good-practices" class="text-label text-xl">Bonnes pratiques</a></li>
        <li class="mb-4 mx-12"><a href="/quizz" class="text-label text-xl">Quiz</a></li>
        <li class="mb-4 mx-12"><a href="/categories" class="text-label text-xl">Thématiques</a></li>
        <li class="mb-4 mx-12"><a href="/definitions" class="text-label text-xl">Glossaire</a></li>
        <li class="mb-4 mx-12"><a href="/" class="text-label text-xl">À propos</a></li>
    </ul>
    <span class="md:w-2/6 w-4/5 h-1 bg-primary self-center opacity-20 mb-5 mt-3"></span>
    <ul class="text-gray md:flex md:justify-center">
        <li class="mb-4 mx-12"><a href="/legal" class="text-label text-xl">Mentions légales</a></li>
        <li class="mb-4 mx-12"><a href="/" class="text-label text-xl">Politique RGPD</a></li>
    </ul>

</footer>