<div id="menu-backdrop" class="hidden fixed z-40 top-0 w-full h-screen"></div>
<header class="z-50 top-0 w-full h-auto">
    <div id="menu-navbar"
        class="z-50 items-center p-8 w-full drop-shadow-md h-auto text-white bg-white flex justify-between">

        <a href="/" class="text-primary"><span><img src="/svgs/logo_icon.svg" alt="Accueil" class="w-12"></span></a>

        <button class="md:hidden flex items-center justify-center gap-3 cursor-pointer items-center" id="menu-toggle"
            name="menu">
            <p class="text-label text-black text-xl">Menu</p>
            <img src="/svgs/icon_burger.svg" alt="Arrow icon" class="h-5">
        </button>

        <ul class="hidden md:flex text-dark_gray text-sm md:text-base">
            {{ $currentPage := . }}
            {{ range .Site.Menus.header }}
            <li>
                <a href="{{ .URL }}" aria-selected="{{ eq $currentPage.Permalink (absURL .URL) }}"
                    class="py-3 px-12 text-secondary hover:bg-light_gray rounded-lg aria-selected:bg-secondary aria-selected:text-white">{{
                    .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div id="menu-links"
        class="hidden md:hidden flex flex-col absolute z-50 w-full drop-shadow-md rounded-b-md bg-white items-center gap-y-3 p-4">
        <ul class="w-full flex flex-col gap-2 text-sm text-black">
            {{ range .Site.Menus.header }}
            <li class="">
                <a href="{{ .URL }}" aria-selected="{{ eq $currentPage.Permalink (absURL .URL) }}"
                    class="bg-light_gray w-auto p-4 rounded-xl flex justify-between items-baseline aria-selected:bg-secondary aria-selected:text-white">
                    <span>{{ .Name }}</span>
                    <span><img src="/svgs/icon_forward.svg" alt="->"></span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>



</header>

<script>
    const menuBackdrop = document.getElementById('menu-backdrop');
    const menuToggle = document.getElementById('menu-toggle');
    const menuLinks = document.getElementById('menu-links');
    const menuNavbar = document.getElementById('menu-navbar');

    menuToggle.addEventListener('click', toggleLinks)
    menuBackdrop.addEventListener('click', toggleLinks)

    function toggleLinks() {
        menuLinks.classList.toggle('hidden');
        menuBackdrop.classList.toggle('hidden');
        menuNavbar.classList.toggle('drop-shadow-md');
        menuNavbar.classList.toggle('rounded-b-lg');
    }
</script>