<header class="w-full h-24 text-white bg-primary">
    <a href="/">Accueil</a>
    {{ range .Site.Menus.header }}
        <a href="{{ .URL }}">{{ .Title }}</a>
    {{ end }}
    <div class="flex cursor-pointer">
        <h3>Menu</h3>
        <div class="ml-2">
            <span class="block w-4 h-0.5 bg-dark_grey rounded m-1"></span>
            <span class="block w-4 h-0.5 bg-dark_grey rounded m-1"></span>
            <span class="block w-4 h-0.5 bg-dark_grey rounded m-1"></span>
        </div>
    </div>
</header>