{{ define "main" }}
<section class="relative w-full pt-5 -mt-5 max-md:pb-36 max-md:-mb-20 md:pb-2 md:perso-background">
    <img class="md:hidden w-full h-full hero-bg-img object-cover object-bottom" src="/svgs/page-hero-bonnes-pratiques-bg.svg" alt="">
    <div class="container py-6 text-white">
        {{ partial "breadcrumb" (dict "page" . "links" (slice "/good-practices")) }}
        <h1 class="text-h1 mt-10">{{ .Title}}</h1>
    </div>
</section>

<div class="container">

    <p>{{ .Description }}</p>


    {{ $categoriesLinked := where .Site.Pages.ByTitle ".Title" "in" .Params.categories }}
    {{ if (gt (len $categoriesLinked) 0) }}
    <h3 class="mt-4 text-h3 text-black">Catégories associées</h3>
    <div class="h-1 w-3/6 mt-2 bg-gradient-to-r from-blue-300 to-white"></div>

    <div class="list-disc bg-white p-5 mt-10 border-light_gray text-center border-2 rounded-2xl">
        {{ range $categoriesLinked}}
        <a href="{{ .Permalink }}">
            <p>{{ .Title }}</p>
        </a>
        {{ end }}
    </div>
    {{ end }}

</div>

{{ end }}
