{{ define "main" }}

<div class="container">
    <p>Bonne pratique</p>
    <h1 class="text-h1">{{ .Title }}</h1>


    {{ $categoriesLinked := where .Site.Pages.ByTitle ".Title" "in" .Params.categories }}
    {{ if (gt (len $categoriesLinked) 0) }}
    <h3 class="mt-4 text-h3">Catégories</h3>
    <ul class="list-disc">
        {{ range $categoriesLinked}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}

    {{ $goodPracticesLinked := where .Site.Pages.ByTitle ".Params.goodPractices" "intersect" (slice .Title) }}
    {{ if (gt (len $goodPracticesLinked) 0) }}
    <h3 class="mt-4 text-h3">Vulnérabilités liées</h3>
    <ul class="list-disc">
        {{ range $goodPracticesLinked}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>

{{ end }}