{{ define "main" }}
<template id="template-choices-item">
  <button data-selected="false" class="
                col-span-full text-center text-sm md:text-base bg-white rounded-full py-4 px-4
                data-selected:bg-secondary data-selected:text-white hover:bg-gray
              ">
    <span class="choice-text"></span>
  </button>
</template>
<template id="template-choices-correction">
  <span data-selected="false" data-correct="false" data-correct-selected="false" data-wrong="false"
    data-wrong-selected="false" class="
              col-span-full text-center bg-white text-center rounded-full py-4 px-4
              data-selected:bg-secondary data-selected:text-white
              data-correct:border-green data-correct:text-green data-correct:border-2
              data-correctSelected:border-green data-correctSelected:bg-green data-correctSelected:text-white
              data-wrong:border-red data-wrong:text-red data-wrong:border-2
              data-wrongSelected:border-red data-wrongSelected:bg-red data-wrongSelected:text-white
            ">
    <span class="choice-text"></span>
  </span>
</template>

{{ partial "quizz/ingame" . }}
{{ partial "quizz/results" . }}

{{- $script := resources.Get "js/quiz.js" -}}
<script src="{{ $script.RelPermalink }}"></script>
{{ end }}
